a{
  color: #EB96AA;
  text-decoration: none;
  font-style: none;
}
a:hover{
  text-decoration: underline;
}
p{
   font-family: Arial;
   text-align: center;
}
/* content headers */
p.header{
  color: black;
  font-size: 35px;
  margin-top: 15px;
}
/* content text */
p.content{
  color: green;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px; 
}
div{
  margin-top: 25px; 
  position: relative;
  /* left:25%; */
  border-style: solid;
  border-width: 3px;
}
div.about{
  border-color:#DD546E;
}
div.projects{
  border-color:#4870a0;
}
div.contact{
  border-color:#73AD21;
}
