/* Default Paragraphs */
p {
  color: blue;
  font-size: 50px;
  font-family: Montserrat;
}
/* Default Links */
a{
  color: red;
  font-size: 25px;
  font-family: Montserrat;
}
/* page-title paragraph class*/
p.page-title{
  color: black;
  font-family: Arial;
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; 
}
/* page-content paragraph class*/
p.page-content{
  color: green;
  font-family: Arial;
  font-size: 50px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px; 
}
/* Navigation Bar */
ul.nav {
  list-style-type: none; /*removes bullets from a list */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
}
ul.nav li {
  float: left;
}
ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.nav li a:hover {
  background-color: #ddd;
}
